@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,600);

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "navigation";
@import "hero";

body {
    margin: 0;
}

.container {
    @include outer-container;
    padding: 0 em(16);
    h2 {
      margin-top: 1em;
    }
}

pre {
    background-color: #FDF6E3;
    overflow-x: scroll;
}

// KeyWordTok
.sourceCode .kw { color: #268BD2; }
// DataTypeTok
.sourceCode .dt { color: #D2AD26; }

// DecValTok (decimal value), BaseNTok, FloatTok
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
// CharTok
.sourceCode .ch { color: #DC322F; }
// StringTok
.sourceCode .st { color: #09B5A8; }
// CommentTok
.sourceCode .co { color: #93A1A1; }
// OtherTok
.sourceCode .ot { color: #A57800; }
// AlertTok
.sourceCode .al { color: #CB4B16; font-weight: bold; }
// FunctionTok
.sourceCode .fu { color: #268BD2; }
// RegionMarkerTok
.sourceCode .re { }
// ErrorTok
.sourceCode .er { color: #D30102; font-weight: bold; }